@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Regular.ttf");
    font-weight: 400;
    color: #000000;
}

.about {
    padding: 112px 0 100px 0;
    width: 540px;
    margin: 0 auto;
}

.h2-about {
    font-family: Roboto;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
}

.text-about {
    font-family: Roboto;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
    margin-top: 50px;
}

.numbers {
    background-color: #500E0A;
}

.item-container {
    width: 1200px;
    margin: 0 auto;
}
.numbers-item {
    color: #FFFFFF;
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
    padding: 100px 0;
}

.item-text {
    display: inline-block;
    padding-left: 20px;
}

.item-text-top {
    font-family: Roboto;
    font-weight: 500;
    font-size: 21px;
    padding-bottom: 10px;
}

.item-text-bottom {
    font-family: Roboto;
    font-size: 16px;
}

.video-container {
    background-color: #EBEBEB;
}

.video {
    width: 1110px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;

}

.h2-video {
    font-family: Roboto;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
}

.text-video {
    font-family: Roboto;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
    margin: 50px auto;
    width: 540px;
}